*settings.json
*.pytest_cache
.vscode
test_models.py
.ipynb_checkpoints
package-lock.json
*package-lock.json

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store

oneHotEncoded_data.csv
*oneHotEncoded_data.csv