:root {
    --root-color: #005826;
    --root-focus-color: rgba(97, 192, 92, 0.5);

    --primary-hover-color: rgb(40, 120, 42);
    --primary-color: var(--root-color);
    --input-focus-border-color: var(--root-color);
    --table-header-bg-color: var(--root-color);
    --form-input-border-color: var(--root-color);
    --form-input-focus-border-color: var(--root-color);
    --message-info-border-color: #239711;
    --message-info-text-color: #239711;
    --message-info-bg-color: #e5fde3;
    --form-input-focus-shadow-color: var(--root-focus-color);
    --input-focus-shadow-color: var(--root-focus-color);
    --secondary-color: #444;
    --secondary-light-color: #555;
    --background-color: #ffffff;
    --input-border-color: #ccc;
    --message-error-bg-color: #fbe9e7;
    --message-error-border-color: #ffccbc;
    --message-error-text-color: #e57373;
    --file-item-deleted-bg-color: #f8d7da;
    --file-item-deleted-text-color: #721c24;
    --table-header-text-color: #fff;
    --table-row-hover-bg-color: #f5f5f5;
    --form-bg-color: #b4bffb1d;
}

.old-color-scheme {
    --root-color: #5c6bc0;
    --root-focus-color: rgba(92, 107, 192, 0.5);

    --primary-hover-color: #3f51b5;
    --primary-color: var(--root-color);
    --input-focus-border-color: var(--root-color);
    --table-header-bg-color: var(--root-color);
    --form-input-border-color: var(--root-color);
    --form-input-focus-border-color: var(--root-color);
    --message-info-border-color: #90caf9;
    --message-info-text-color: #1e88e5;
    --message-info-bg-color: #e3f2fd;
    --form-input-focus-shadow-color: var(--root-focus-color);
    --input-focus-shadow-color: var(--root-focus-color);
    --secondary-color: #444;
    --secondary-light-color: #555;
    --background-color: #ffffff;
    --input-border-color: #ccc;
    --message-error-bg-color: #fbe9e7;
    --message-error-border-color: #ffccbc;
    --message-error-text-color: #e57373;
    --file-item-deleted-bg-color: #f8d7da;
    --file-item-deleted-text-color: #721c24;
    --table-header-text-color: #fff;
    --table-row-hover-bg-color: #f5f5f5;
    --form-bg-color: #b4bffb1d;
}

body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-out-div {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.8rem;
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
}

header, .header {
    color: black;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.logout-button {
    margin-left: 10px;
    max-height: fit-content;
    font-size: smaller;
    max-width: 100px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-button:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.05);
}

h2 {
    font-size: 1.6rem;
    color: var(--secondary-light-color);
    margin-bottom: 1rem;
}

.list-header {
    margin-top: 35px;
}

p {
    color: var(--secondary-light-color);
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: center;
    max-width: 600px;
}

.s3-file-manager {
    width: 100%;
    max-width: 900px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 2.5rem;
    margin-top: 3rem;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    margin-left: auto;
    margin-right: auto;
}

.s3-file-manager:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.upload-div {
    display: flex;
}

.download-csv-button-div {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.action-button, .global-upload, .small-upload {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.action-button:hover, .global-upload:hover, .small-upload:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.05);
}

.global-upload {
    max-width: fit-content;
    margin-left: 5px;
    margin-bottom: 5px;
}

.upload-folder {
    display: flex;
    justify-content: center;
}

.small-upload {
    padding: 15px;
    max-width: fit-content;
    max-height: fit-content;
    margin-bottom: 5px;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

input[type="file"],
input[type="text"] {
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="file"]:focus,
input[type="text"]:focus {
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0 5px var(--input-focus-shadow-color);
    outline: none;
}

.message {
    margin-top: 1.5rem;
    padding: 1.2rem;
    border-radius: 5px;
    background-color: var(--message-info-bg-color);
    border: 1px solid var(--message-info-border-color);
    font-size: 1rem;
    text-align: center;
    color: var(--message-info-text-color);
    margin-left: auto;
    margin-right: auto;
}

.message.error {
    background-color: var(--message-error-bg-color);
    border-color: var(--message-error-border-color);
    color: var(--message-error-text-color);
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 1rem;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0;
    border-bottom: 1px solid #f0f0f0;
    font-size: 1rem;
    color: var(--secondary-light-color);
    transition: background-color 0.3s ease;
}

li:last-child {
    border-bottom: none;
}

li:hover {
    cursor: pointer;
}

.file-name {
    flex: 1;
    word-break: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    max-width: fit-content;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.icon-button:hover {
    color: var(--primary-hover-color);
    background-color: lightgray;
    transform: scale(1.05);
}

.icon-button:focus {
    outline: none;
}

.icon-button svg {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.icon-button:hover svg {
    color: var(--primary-hover-color);
}

@media (max-width: 768px) {
    .s3-file-manager {
        width: 90%;
        padding: 1.5rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    input[type="text"],
    input[type="file"] {
        font-size: 0.9rem;
    }

    .action-button {
        font-size: 0.9rem;
    }
}

.file-item:hover {
    background-color: var(--table-row-hover-bg-color);
}

.file-item.deleted {
    background-color: var(--file-item-deleted-bg-color);
    color: var(--file-item-deleted-text-color);
    text-decoration: line-through;
}

.file-item.deleted .icon-button {
    cursor: not-allowed;
    opacity: 0.5;
}

.login-container form { 
    background-color: var(--form-bg-color);
    color: black;
}

.login-container form label { 
    color: black;
}

.login-input {
    border: 0.5px solid var(--form-input-border-color) !important;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.login-input:focus {
    border-color: var(--form-input-focus-border-color);
    box-shadow: 0 0 5px var(--form-input-focus-shadow-color);
    outline: none;
}

.Sign-In {
    font-size: 1.6rem;
    color: var(--secondary-light-color);
    margin-bottom: 1rem;
    text-align: center;
}

.main-title {
    text-align: center;
    color: #333;
}

.user-management-container {
    width: 100%;
    max-width: 900px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 2.5rem;
    margin-top: 3rem;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    margin-left: auto;
    margin-right: auto;
}

.user-management-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.user-management-table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    font-size: 1rem;
    text-align: left;
    padding: 10px;
}

.user-management-th,
.user-management-td {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.user-management-th {
    color: var(--table-header-text-color);
    background-color: var(--table-header-bg-color);
    font-size: 1.1rem;
}

.user-management-tr:hover {
    background-color: var(--table-row-hover-bg-color);
}

.user-management-table tr:nth-child(even) {
    background-color: var(--form-bg-color);
}

.user-management-controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
    width: 100%;
}

.user-management-field-input {
    margin-left: 40px !important;
    max-width: 90%;
    border: 0.5px solid var(--form-input-border-color) !important;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.user-management-field-input:focus {
    border-color: var(--form-input-focus-border-color);
    box-shadow: 0 0 5px var(--form-input-focus-shadow-color);
    outline: none;
}

.user-management-add-form {
    border: 1px solid var(--form-input-border-color);
    background-color: var(--form-bg-color);
    min-width: 100%;
}

.user-management-add-title {
    color: black;
}

.error-message {
    color: red;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.loading-text {
    font-size: 1.2em;
    color: var(--message-info-text-color);
    animation: loadingDots 1.5s infinite;
}

.folder-select-container {
    display: flex;
    margin-bottom: 15px;
}

.folder-select {
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.folder-select-form {
    padding: 10px;
}

.folderSelect {
    scroll-behavior: smooth;
    overflow-y: auto !important;
    overflow: scroll !important;
}
