
table tr:nth-child(even) {
    background-color: #00751215 !important;
  }
  
  table tr:hover {
    background-color: #ddd !important;
  }
  

h3 {
    font-size: 30px;
    color: #4CAF50; 
    margin-bottom: 10px;
    text-align: center; 
    font-weight: 600;
}

h4 {
    font-size: 20px;
    color: #333; 
    text-align: center; 
    margin-bottom: 20px;
}

#mainTable {
    width: 90vw;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff; 
    border-radius: 8px;
    overflow: hidden; 
}

th {
    background-color: #4CAF50; 
    color: white;
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.expanded-row-header > td {
    background-color: #e0e0e0;
    font-size: larger;
    text-align: center;
    padding: 6px 0px 6px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#mainRow {
    border: 1px solid #ddd; 
    text-align: left;
    font-size: 14px;
    color: #333; 
}

#mainRow > td {
    padding: 10px 0px 10px 4px;
    font-size: larger;
}

tr:hover {
    background-color: #f1f1f1 !important;
}

.loading {
    font-size: 20px;
    font-weight: bold;
    color: #4CAF50; 
}  

.expanded-row {
    border: 1px solid #787878;
    color: black;
    font-size: smaller;
    text-align: left;
}

.expanded-row > td {
    padding: 4px 0px 4px 4px;
}

#subRows > td, #subHeader > td {
    border: 1px solid #787878;
}

#prediction-err-message {
    color: red
}
